<!doctype html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <link href="dist/base.norm.min.css" rel="stylesheet" type="text/css" />
  </head>
  <body>
    {% include nav.html %}

    <section>
      <div class="container">
        <h1><a href="">base.css</a></h1>

        <hr />

        <!-- prettier-ignore -->
        {% include h1-h6.html %}
        {% include p.html %}
        {% include blockquote.html %}
        {% include button.html %}
        {% include code.html %}
        {% include modal.html %}
        {% include figure.html %}
        {% include form.html %}
        {% include ol-ul.html %}
        {% include progress.html %}
        {% include details.html %}
        {% include table.html %}
        {% include tag.html %}
        {% include banner.html %}
        {% include columns.html %}
        {% include notification.html %}
      </div>
    </section>

    {% include footer.html %}
  </body>
</html>
